/* ==============================FONTS============================== */

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* =============================built-in reset============================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
=============================================
================DESKTOP======================
============================================= */

/* ==============================HEADER============================= */

.header {
  background-image: url("../images/banner-bg.jpg");
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 28px 0;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.6;
}

.header-container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.header-title {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 75px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 90px 0 140px 0;
}

.header-logo {
  width: 180px;
}

.menu-list {
  display: flex;
}

.menu-list-item {
  display: list-item;
  list-style-image: none;
  list-style-type: none;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  line-height: normal;
}

.menu-link:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px #d3d5d4;
}

/* ================================PAGE================================ */

.page_container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 64px auto;
  display: flex;
  justify-content: space-between;
}

/* ===========================TRANDS============================ */

.trands_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.card_1 {
  background-image: url("../images/trend1.jpg");
}

.card_2 {
  background-image: url("../images/trend2.jpg");
}

.card_3 {
  background-image: url("../images/trend3.jpg");
}

.card_4 {
  background-image: url("../images/trend4.jpg");
}

.trand_card {
  display: flex;
  align-items: flex-end;
  min-height: 315px;
  width: 24.7vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.trand_card::after {
  content: "";
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
}

.trand_content {
  padding: 30px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 15px;
  border: 4px solid rgba(197, 155, 71, 0.4);
}

.trands-link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.trands-link:hover {
  text-shadow: 1px 1px 1px #fff;
}

.trands_title {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-bottom: 13px;
  margin-top: 60px;
  margin-bottom: 45px;
}

.trands_title::after {
  content: "";
  position: absolute;
  background: #b59f5b;
  height: 3px;
  width: 32px;
  opacity: 0.4;
  display: block;
  left: 50%;
  bottom: 0;
}

.trands_title::before {
  content: "";
  position: absolute;
  background: #b59f5b;
  height: 3px;
  width: 32px;
  opacity: 0.4;
  display: block;
  right: 50%;
  bottom: 0;
}

/* ============================POST-CARDS============================== */

.post-cards {
  margin-right: 7.5%;
}

.post-card {
  display: flex;
}

.post-card:nth-child(n+2) {
  margin-top: 60px;
}

.card-picture {
  margin-right: 2vw;
  width: 23vw;
  align-self: flex-start;
}

.card-title {
  margin-top: 10px;
}

.title-link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}

.title-link:hover {
  text-shadow: 0.5px 0.5px 0.5px #2B2020;
}

.categories-list {
  display: flex;
}

.categories-list-item {
  display: inline-block;
  margin-right: 20px;
}

.category-link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
}

.category-link:hover {
  text-decoration: underline;
  text-shadow: 0.5px 0.5px 0.5px #b59f5b;
}

.card-date-author {
  margin-top: 20px;
}

.author-item {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  color: #000000;
}

.date-item {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: #989898;
  margin-right: 15px;
}

.card-description {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  margin-top: 35px;
}

.description-paragraph {
  margin-bottom: 15px;
}


/* ==================================ASIDE=============================== */

.sidebar {
  width: 18vw;
  flex: none;
}

.sidebar-title {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-bottom: 13px;
}

.sidebar-title::after {
  content: "";
  position: absolute;
  background: #b59f5b;
  height: 3px;
  width: 32px;
  opacity: 0.4;
  display: block;
  left: 50%;
  bottom: 0;
}

.sidebar-title::before {
  content: "";
  position: absolute;
  background: #b59f5b;
  height: 3px;
  width: 32px;
  opacity: 0.4;
  display: block;
  right: 50%;
  bottom: 0;
}

.sidebar-posts-list {
  list-style-type: none;
  list-style-image: none;
  margin-top: 25px;
}

.sidebar-posts-list-item {
  display: flex;
  margin-top: 20px;
}

.sidebar-picture {
  width: 70px;
  flex: none;
}

.post-date-title {
  padding-top: 0;
  margin-left: 20px;
}

.post-date {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: #000000;
  opacity: 0.54;
}

.post-link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.post-link:hover {
  text-shadow: 0.5px 0.5px 0.5px #2B2020;
}

.search-form {
  display: flex;
  margin: 60px 0;
}

.search-field {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  opacity: 0.54;

  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 18px 18px 18px 18px;
  border: 1px;
  background-color: #f4f7f6;
}

.search-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.search-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../svg/search.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b59f5b;
  border: none;
}

.search-button:hover {
  background-color: #323232;
}

.search-button-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.distribution-form {
  margin: 60px 0;
}

.email-field {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  opacity: 0.54;

  margin-top: 25px;
  width: 100%;
  height: 50px;
  padding: 18px 18px 18px 18px;
  border: 1px;
  background-color: #f4f7f6;
}

.email-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.distribution-form {
  text-align: center;
}

.distribution-button {
  width: 100%;
  height: 52px;
  padding: 18px 18px 18px 18px;
  background-color: #b59f5b;
  border: none;
  text-align: center;
  margin-top: 17px;
}

.distribution-button:hover {
  background-color: #323232;
}

.distribution-button-text {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.post-tags {
  margin: 60px 0;
}

.tags-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.tags-list-item {
  display: inline-block;
  border: 3px solid #eeeeee;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  color: #000000;
  padding: 4px 12px;
}

.tags-link:hover {
  text-shadow: 0.5px 0.5px 0.5px #2B2020;
}

.post-themes {
  margin: 60px 0;
}

.themes-list {
  list-style-type: none;
  list-style-image: none;
  margin-top: 5px;
}

.themes-list-item {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.themes-link {
  display: inline-block;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #000000;
  text-decoration: none;
  margin: 20px 5px 12px 0;
}

.themes-link:hover {
  text-shadow: 0.5px 0.5px 0.5px #2B2020;
}

.themes-amount {
  display: inline-block;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  color: #b59f5b;
  position: absolute;
  top: 17px;
}

/* ===========================SHOP================================ */

.shop {
  max-width: 1200px;
  padding: 0 15px;
  margin: 64px auto;
}

.shop_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop_card {
  border: 4px solid rgba(197, 155, 71, 0.4);
  padding: 20px 15px 30px;
  margin-bottom: 30px;
}

.shop_img {
  min-height: 200px;
  max-width: 300px;
}

.inside_container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.shop_title {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 45px;
}

.shop_title::after {
  content: "";
  position: absolute;
  background: #b59f5b;
  height: 3px;
  width: 32px;
  opacity: 0.4;
  display: block;
  left: 50%;
  bottom: 0;
}

.shop_title::before {
  content: "";
  position: absolute;
  background: #b59f5b;
  height: 3px;
  width: 32px;
  opacity: 0.4;
  display: block;
  right: 50%;
  bottom: 0;
}

.shop_item {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin-bottom: 15px;
  margin-top: 20px;
}

.shop_description {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  margin-top: 35px;
}

.description_container {
  margin-bottom: 25px;
}

.description_link {
  color: #b59f5b;
  text-decoration: none;
}

.price_container {
  display: flex;
  flex-direction: column;
}

.price_add {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shop_price {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #0f0d0e;
}

.real_price {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.shop_button {
  padding: 20px 25px;
  background-color: #b59f5b;
  text-decoration: none;
}

.shop_button:hover {
  background-color: #323232;
}

.button_text {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}
/* ================================FOOTER============================== */

.socials {
  width: 1170px;
  margin: 30px auto;
  padding: 30px 15px;
  background-color: #f4f7f6;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list-item {
  display: inline-block;
  list-style: none;
}

.socials-list-item:nth-child(n+1) {
  margin-right: 25px;
}

.socials-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: #f4f7f6;
  background-position: center;
  background-size: contain;
}

.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  padding: 0 15px;
  margin: 74px auto 40px auto;
  text-align: center;
}

.copyright-link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: #adadad;
  line-height: normal;
}


/* =============================================
===================TABLET====================
============================================= */

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.6;
  }

  .header-container {
    width: 90vw;
  }

  .header-title {
    width: 90vw;
    font-size: 40px;
  }

  .menu {
    display: none;
  }

  .trands_container {
    display: flex;
    flex-wrap: wrap;
  }

  .trand_card {
    width: 49.5vw;
    margin-bottom: 10px;
    background-size: cover;
  }

  .page_container {
    justify-content: space-around;
  }

  .post-card {
    flex-direction: column;
    max-width: 390px;
  }

  .card-picture {
    width: 50vw;
    margin-bottom: 15px;
  }

  .card-content {
    width: 50vw;
  }

  .sidebar {
    width: 35vw;
  }

  .socials {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .shop_container {
    display: flex;
    justify-content: space-around;
  }
}